.bolivia {
    width: 79px;
    height: 77px;
    background-color: #ffdd59;
    position: absolute;
    top: 123px;
    left: 69px;
    clip-path: polygon(
                0% 10%,
                12% 10%,
                25% 2%,
                40% 0%,
                39% 16%,
                45% 22%,
                50% 22%,
                66% 25%,
                70% 28%,
                80% 35%,
                80% 48%,
                90% 48%,
                87% 54%,
                100% 56%,
                99.5% 70.5%,
                86% 65.7%,
                82% 65.7%,
                67.4% 70.5%,
                64% 91.7%,
                65.3% 94%,
                40% 94%,
                22% 100%,
                15% 93%,
                13% 73%,
                4% 61%,
                10% 20%
    );

    &:hover {
        background-color: #f00;
    }
}