.brasil {
    height: 215px;
    width: 230px;
    position: absolute;
    background-color: #00a152;
    top: 46.5px;
    left: 47px;
    clip-path: polygon(
                68% 0%,
                70% 10%,
                100% 29%,
                98% 45%,
                91% 55%,
                88% 70%,
                80% 75%,
                72% 80%,
                55% 100%,
                46% 90%,
                54% 82%,
                55% 72%,
                50% 73%,
                50% 71%,
                45% 70%,
                43% 55%,
                38% 54%,
                40% 48%,
                26% 45%,
                26% 37%,
                12% 45%,
                5% 42%,
                0% 30%,
                10% 26%,
                13% 14%,
                26% 15%,
                32% 4%,
                26% 15%,
                32% 4%,
                40% 12%,
                60% 12%
    );
}