.colombia {
    width: 77px;
    height: 98px;
    background-color: #f1c40f;
    position: absolute;
    top: 0px;
    left: 10px;
    clip-path: polygon(
                2.4% 70.5%,
                6% 61%,
                10% 66%,
                14% 55%,
                10% 30%,
                30% 18%,
                32% 13%,
                40% 6%,
                50% 6%,
                62% 0%,
                69% 0%,
                69% 3%,
                54.5% 11.7%,
                54.5% 24.5%,
                59.8% 34.3%,
                75.5% 34.3%,
                78.5% 38.8%,
                96.2% 38.8%,
                95.2% 61%,
                97.7% 67%,
                80% 67%,
                80% 74%,
                85% 82%,
                73% 100%,
                67% 99%,
                72% 87%,
                51% 88%,
                35% 74.5%,
                20% 74.5%
    );

    &:hover {
        background-color: #f00;
    }
}