.paraguay {
    width: 52px;
    height: 53px;
    background-color: #eb4d4d;
    position: absolute;
    top: 173px;
    left: 117px;
    clip-path: polygon(
                35% 0%,
                58.7% 8%,
                63.5% 45.3%,
                86.5% 45.3%,
                86.5% 61.5%,
                100% 61.5%,
                93.5% 90%,
                70% 100%,
                50% 95%,
                60% 75%,
                15% 55%,
                5% 39%,
                10% 8%
    );

    &:hover {
        background-color: #f00;
    }
}