.chile {
    width: 45px;
    height: 230px;
    background-color: #ff6b6b;
    position: absolute;
    top: 170px;
    left: 56px;
    clip-path: polygon(
                36% 0.2%,
                52% 3.9%,
                55% 10.6%,
                67% 13%,
                67% 18%,
                50% 20%,
                50% 27%,
                38% 30%,
                32% 39%,
                38% 45%,
                26.5% 65%,
                34% 75%,
                34% 82%,
                30% 84%,
                48% 88%,
                74% 90%,
                74% 96%,
                100% 96%,
                80% 100%,
                56% 100%,
                26.5% 96%,
                15% 84%,
                14% 80%,
                0% 78%,
                0% 76%,
                14% 73%,
                14% 68%,
                5% 66%,
                5% 58%,
                0% 55%,
                12% 50%,
                21% 5.6%
    );

    &:hover {
        background-color: #f00;
    }
}