.peru {
    width: 77px;
    height: 110px;
    background-color: #877459;
    position: absolute;
    top: 73px;
    left: 0px;
    clip-path: polygon(
                0% 28%,
                6% 22.5%,
                12% 28.2%,
                20% 30%,
                27% 20%,
                40% 17%,
                48% 10%,
                48% 0%,
                64% 12%,
                85% 11%,
                80% 21.8%,
                87% 22.7%,
                69% 27%,
                64% 37%,
                69% 50%,
                73% 50%,
                75% 53%,
                83% 50%,
                80% 60%,
                89.7% 52.5%, /*bolivia starts*/
                100% 59.5%,
                93.8% 88.5%,
                85% 100%,
                41% 76%,
                46% 74%,
                18% 40%,
                6% 36%
    );

    &:hover {
        background-color: #f00;
    }
}