.venezuela {
    width: 80px;
    height: 74px;
    background-color: #c23616;
    position: absolute;
    top: 4px;
    left: 52px;
    clip-path: polygon(
                0% 10%,
                8% 3%,
                10% 10%,
                7% 16%,
                12% 20%,
                17% 16%,
                12% 3%,
                20% 0%,
                32% 4%,
                32% 10%,
                52% 8%,
                62% 15%,
                69% 12%,
                74% 12%,
                80% 18%,
                90% 25%,
                84% 30%,
                93% 29%,
                99.5% 34%,
                86.2% 49.5%,
                89% 58%,
                83% 69.3%,
                65% 69.3%,
                69% 80.4%,
                73.7% 81.5%,
                55% 99%,
                43% 91%,
                39% 75%,
                40% 46%,
                23% 46%,
                20% 40%,
                5% 40%,
                0% 27%
    );

    &:hover {
        background-color: #f00;
    }
}